{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <!-- Offer Conversion: CurcumaV2 - CPA - [FR] WEB/WAP -->
<iframe src="https://reflexcash.go2cloud.org/aff_l?offer_id=22318" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->

<div class="container">

    <div class="row">
        <div class="content col s12">
            <section class="banner center-align" style="margin: 5rem 0;">
                <h3 class="center-align color_brand_secondary">Merci!<br>Votre commande à bien été effectuée</h3>
                <div class="center-align">
                    <h5 class="center-align color_brand_primary">Vérifiez votre boîte de réception,<br>un email vous a été envoyé contenant les informations d'expédition et la facture de votre achat.</h5>
                    <p>Si vous nous n'avez pas reçu cet email vérifiez votre boîte de réception spam ou contactez notre <a href="mailto:contact@battleoffice.com">service consommateur</a>.</p>
                </div>
            </section>
            <section class="banner">
                <div class="row">
                    <div class="col s6 m3">
                        <div class="picto-wrapper center-align">
                            <img src="assets/images/naturel.png" class="responsive-img" alt="100% naturel">
                            <p class="color_brand_primary">100%<br><b>Ecologique</b></p>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <div class="picto-wrapper center-align">
                            <img src="assets/images/secure.png" class="responsive-img" alt="Paiement sécurisé">
                            <p class="color_brand_primary">Paiement<br><b>sécurisé</b></p>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <div class="picto-wrapper center-align">
                            <img src="assets/images/chrono.png" class="responsive-img" alt="Votre commande est traitée en moins de 24h">
                            <p class="color_brand_primary">Livraison<br><b>Colis suivi</b></p>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <div class="picto-wrapper center-align">
                            <img src="assets/images/like.png" class="responsive-img" alt="Paiement sécurisé">
                            <p class="color_brand_primary">100% Satisfait<br><b>ou remboursé</b></p>
                        </div>
                    </div>

                </div>
            </section>
            <section class="banner">
                <div class="center-align">
                    <p>Nous nous engageons à livrer votre commande le plus rapidement possible. Généralement, une commande est traitée en moins de 24h. Vous devez donc ensuite compter le temps de transport jusqu'à la livraison chez vous (généralement entre 24h et 48h). Les commandes passées le vendredi et le week-end sont traitées et expédiées le lundi qui suit.</p>
                    <p>La livraison est offerte pour tous nos clients. Pour toute livraison de produits extérieure à la France métropolitaine, les délais d'acheminement peuvent être légèrement plus importants.</p>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
