<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BattleOffice, petites guerres entre amis - Vente privée de jouets Nerfs Elite</title>
        <meta name="description" content="Avec la cure Curcuma Citron 100% naturel, détoxifiez votre corps et maintenez un poids idéal avec une jolie silhouette.">
        <meta name="image" content="https://curcuma-citron.feelwellshop.com/assets/images/cure_30g.jpg">
        <meta itemprop="name" content="Cure Curcuma Citron, amaigrissant 100% naturel qui vous aide à perdre du poids et favorise la detox | FeelWellShop">
        <meta itemprop="description" content="Avec la cure Curcuma Citron 100% naturel, détoxifiez votre corps et maintenez un poids idéal avec une jolie silhouette.">
        <meta itemprop="image" content="https://curcuma-citron.feelwellshop.com/assets/images/cure_30g.jpg">
        <meta name="og:title" content="Cure Curcuma Citron, amaigrissant 100% naturel qui vous aide à perdre du poids et favorise la detox | FeelWellShop">
        <meta name="og:description" content="Avec la cure Curcuma Citron 100% naturel, détoxifiez votre corps et maintenez un poids idéal avec une jolie silhouette.">
        <meta name="og:url" content="https://curcuma-citron.feelwellshop.com/">
        <meta name="og:site_name" content="Cure Curcuma Citron, amaigrissant 100% naturel qui vous aide à perdre du poids et favorise la detox | FeelWellShop">
        <meta name="og:locale" content="fr_FR">
        <meta name="og:type" content="product">
        <meta name="product:availability" content="en stock">
        <meta name="product:price:currency" content="EUR">
        <meta name="product:brand" content="FeelWeelShop">
        <meta name="twitter:image" content="https://curcuma-citron.feelwellshop.com/assets/images/cure_30g.jpg" />
        <link  rel="icon" type="image/x-icon" href="favicon.png" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/main_new.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <nav class="white">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12 m6">
                            <a href="#!" class="brand-logo">BattleOffice</a>
                        </div>
                        <div class="col s12 m6">
                            <div class="picto-nav">
                                <i class="fas fa-shipping-fast"></i>
                                <span>Livraison gratuite</span>
                                Pour toute commande !
                            </div>
                            <div class="picto-nav">
                                <i class="fas fa-grin"></i>
                                <span>Garantie 100% Satisfait</span>
                                Ou remboursé !
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </div>

        <main class="page">
            {% block body %}{% endblock %}
        </main>

        <footer class="page-footer white">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h5 class="color_brand_primary center-align">POUR VOTRE SANTÉ, PRATIQUEZ UNE ACTIVITÉ PHYSIQUE RÉGULIÈRE - WWW.MANGERBOUGER.FR</h5>
                        <p class="color_brand_primary center-align">
                            BattleOffice ne garantit pas la paix dans les bureaux et open-spaces. Il est déconseillé d'utiliser nos produits dans des espaces publiques. Ne déclenchez pas de guerres que vous regretteriez.
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container color_brand_primary">
                    © 2019 Tous droits réservés battleoffice
                    <a class="color_brand_primary right" href="#" target="_blank">Conditions Générales de Vente</a>
                </div>
            </div>
        </footer>
        <script src="/assets/js/materialize.js"></script>
        <script src="/assets/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
