<style type="text/css">
    .form-error {
        color: red;
        font-weight: bold;
        padding-bottom:10px;
    }
    .form-error ul {
        margin:0;
    }
</style>

{# Etape 2 #}
<div class="card step_2">
    <div class="card-content">
        <span class="card-title color_product_primary center-align">Étape 2</span>
        <p class="h6 center-align">Remplissez ce formulaire</p>
        <div class="form-wrapper">
            <div class="input-field">
                <input type="text">
                <label>Prénom</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Nom</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Adresse</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Complément adr.</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Ville</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Code postal</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <select>
                    <option>France</option>
                </select>
                <label>Pays</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Téléphone</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Email</label>
                <div class="form-error"></div>
            </div>
            <div class="input-field">
                <input type="text">
                <label>Confirmation email</label>
                <div class="form-error"></div>
            </div>
        </div>
    </div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">markunread_mailbox</i>Adresse de livraison différente ?</div>
            <div class="collapsible-body">
                <div class="input-field">
                    <input type="text">
                    <label>Prénom</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label>Nom</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label>Adresse</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label>Complément adr.</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label>Ville</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label>Code postal</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <select>
                        <option>France</option>
                    </select>
                    <label>Pays</label>
                    <div class="form-error"></div>
                </div>
                <div class="input-field">
                    <input type="text">
                    <label>Téléphone</label>
                    <div class="form-error"></div>
                </div>
            </div>
        </li>
    </ul>
</div>
{# Etape 3 #}
<div class="card step_3">
    <div class="card-content">
        <span class="card-title color_product_primary center-align">Étape 3</span>
        <p class="h6 center-align">Choisissez un paiement</p>
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="fas fa-credit-card"></i>Payer avec la Carte Bancaire</div>
                <div class="collapsible-body card-form">
                    <div class="row">
                        <div class="center-align">
                            <button type="submit" name="order[payment_method]" value="lpmonetico" class="btn-large btn-block waves-effect waves-light">Continuer</button>
                            <p>J'accepte les <a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a></p>
                            <img class="responsive-img monetico" src="assets/images/paiement-securise-stripe.jpeg" alt="Stripe protège vos achats">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fab fa-cc-paypal"></i>Payer avec Paypal</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="center-align">
                            <button type="submit" name="order[payment_method]" value="lppaypal" class="btn-large btn-block waves-effect waves-light">Continuer sur PayPal</button>
                            <p>J'accepte les <a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>